<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Filtrar Cultos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row color="light" padding style="background-color: #f4f5f8">
    <ion-label style="margin-left: 2vh">
      <h3><b>Banda</b></h3>
    </ion-label>
  </ion-row>

  <ion-row style="margin-left: 1vh;margin-right: 2vh">
    <ion-col>
      <ion-select placeholder="Filtrar por bandas" [(ngModel)]="filter.band">
        <ion-select-option value="">Todas as bandas</ion-select-option>
        <ion-select-option value="Banda 1">Banda 1</ion-select-option>
        <ion-select-option value="Banda 2">Banda 2</ion-select-option>
        <ion-select-option value="Banda 3">Banda 3</ion-select-option>
        <ion-select-option value="Banda Mix">Banda Mix</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row color="light" padding style="background-color: #f4f5f8">
    <ion-label style="margin-left: 2vh">
      <h3><b>Turno</b></h3>
    </ion-label>
  </ion-row>

  <ion-row style="margin-left: 1vh;margin-right: 2vh">
    <ion-col>
      <ion-select placeholder="Filtrar por turno" [(ngModel)]="filter.shift">
        <ion-select-option value="">Todos os turnos</ion-select-option>
        <ion-select-option value="Matutino">Matutino</ion-select-option>
        <ion-select-option value="Noturno">Noturno</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>


  <ion-row color="light" padding style="background-color: #f4f5f8">
    <ion-label style="margin-left: 2vh">
      <h3><b>Período dos Cultos</b></h3>
    </ion-label>
  </ion-row>

  <ion-row padding style="padding-bottom: 0">
    <ion-col style="margin-left:-1vh">
      <ion-item>
        <ion-label position="stacked" color="primary">
          Data Início
        </ion-label>
        <ion-datetime cancel-text="Cancelar" done-text="Selecionar" style="margin-left:1vh" [(ngModel)]="filter.start_date" display-format="DD/MM/YYYY">
        </ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row padding style="padding-bottom: 0;margin-left:-1vh">
    <ion-col>
      <ion-item>
        <ion-label position="stacked" color="primary">
          Data Fim
        </ion-label>
        <ion-datetime cancel-text="Cancelar" done-text="Selecionar" [(ngModel)]="filter.end_date" display-format="DD/MM/YYYY"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row padding>
    <ion-col>
      <ion-button color="secondary" (click)="clearFilter()" expand="full">Limpar Filtros</ion-button>
    </ion-col>
  </ion-row>

  <ion-row padding style="margin-top:-4vh;padding-bottom: 0">
    <ion-col>
      <ion-button (click)="filterWorship()" expand="full">Filtrar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>