<ion-header>
  <ion-toolbar>
    <ion-title>Filtar Cultos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row color="light" padding style="background-color: #f4f5f8">
    <ion-label style="margin-left: 2vh">
      <h3><b>Banda</b></h3>
    </ion-label>
  </ion-row>

  <ion-item lines="none" padding style="padding-top: 0; padding-bottom: 0">
    <ion-segment [(ngModel)]="filter.band">
      <ion-segment-button value="Banda 1">
        <ion-label>Banda 1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Banda 2">
        <ion-label>Banda 2</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Banda 3">
        <ion-label>Banda 3</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Banda Mix">
        <ion-label>Banda Mix</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  <ion-row color="light" padding style="background-color: #f4f5f8">
    <ion-label style="margin-left: 2vh">
      <h3><b>Turno</b></h3>
    </ion-label>
  </ion-row>

  <ion-item lines="none" padding style="padding-top: 0; padding-bottom: 0">
    <ion-segment [(ngModel)]="filter.shift">
      <ion-segment-button value="Matutino">
        <ion-label>Matutino</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Noturno">
        <ion-label>Noturno</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  <ion-row color="light" padding style="background-color: #f4f5f8">
    <ion-label style="margin-left: 2vh">
      <h3><b>Período dos Cultos</b></h3>
    </ion-label>
  </ion-row>

  <ion-row padding>
    <ion-col style="margin-left:-1vh">
      <ion-item>
        <ion-label position="stacked" color="primary">
          Data Início
        </ion-label>
        <ion-datetime style="margin-top:1vh" [(ngModel)]="filter.start_date" display-format="DD/MM/YYYY"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row padding>
    <ion-col style="margin-left:-1vh">
      <ion-item>
        <ion-label position="stacked" color="primary">
          Data Fim
        </ion-label>
        <ion-datetime style="margin-top:1vh" [(ngModel)]="filter.end_date" display-format="DD/MM/YYYY"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row padding>
    <ion-col>
      <ion-button color="secondary" (click)="clearFilter()" expand="full">Limpar Filtros</ion-button>
    </ion-col>
  </ion-row>

  <ion-row padding style="margin-top:-4vh">
    <ion-col>
      <ion-button (click)="filterWorship()" expand="full">Filtrar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>