<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-badge color="tertiary">{{ musicsSelectedArray.length || 0 }}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>Repertório</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Filtrar músicas/artistas" debounce="500" cancelButtonText="Cancelar" animated
    [(ngModel)]="filter.name"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para baixo para atualizar"
      refreshingSpinner="circles" refreshingText="Atualizando músicas...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>

  <ion-row style="margin-left:1vh;margin-right:1vh">
    <ion-col>
      <ion-segment (ionChange)="filterData()" [(ngModel)]="selectedSegment">
        <ion-segment-button value="all">
          <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="saved">
          <ion-label>Salvos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="song">
          <ion-label>Louvores</ion-label>
        </ion-segment-button>
        <ion-segment-button value="anthem">
          <ion-label>Hinos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left:-1vh;margin-right:0.5vh" *ngIf="selectedSegment !== 'saved'">
    <ion-col>
      <ion-select placeholder="Filtrar por temas" [(ngModel)]="selectedTheme" (ionChange)="filterData()">
        <ion-select-option *ngFor="let theme of filter.themes" value="{{ theme }}">{{ theme }}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <div style="margin-top:1vh" *ngIf="selectedSegment !== 'saved'">
    <ion-item-group *ngFor="let theme of themes; let indexTheme = index">
      <ion-item-divider *ngIf="theme.musics.length && selectedTheme === 'all'" class="theme-name">
        <ion-label><b>{{ theme.name }}</b></ion-label>
      </ion-item-divider>

      <ion-grid (click)="showOptions(music, indexTheme, indexMusic)" no-padding
        *ngFor="let music of theme.musics | filterNameDefault:filter; let indexMusic = index">
        <ion-item no-padding lines="none">
          <ion-row no-padding class="music-artist">
            <ion-col>
              <ion-label style="margin-left: 2vh">{{ music.artist }}</ion-label>
            </ion-col>
          </ion-row>
          <ion-note slot="end">
            <ion-badge *ngIf="(musicsSelected[music.id] && musicsSelected[music.id].theme_name === theme.name)"
              color="success">Salvo</ion-badge>
          </ion-note>
        </ion-item>
        <ion-item no-padding>
          <ion-row no-padding>
            <ion-col class="music-name">
              <ion-label class="music-name-label" style="margin-left: 2vh">{{ music.name }}</ion-label>
            </ion-col>
          </ion-row>
          <ion-note slot="end">
            <ion-badge *ngIf="(music.anthem === 'Sim' && selectedSegment === 'all')" color="tertiary">Hino</ion-badge>
          </ion-note>
        </ion-item>
      </ion-grid>
    </ion-item-group>
  </div>

  <div style="margin-top:1vh" *ngIf="selectedSegment === 'saved'">

    <ion-list padding style="margin-left: -2vh">
      <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
        <ion-item (click)="showOptions(music)" *ngFor="let music of musicsSelectedArray; let i = index">
          <ion-label>{{ i + 1 }}. {{ music.name }}</ion-label>
          <ion-reorder></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </div>
</ion-content>