<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Repertório</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Filtrar músicas/artistas" debounce="500" showCancelButton cancelButtonText="Cancelar"
    animated [(ngModel)]="filter.name"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para baixo para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando músicas...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>

  <ion-row style="margin-left:1vh;margin-right:1vh">
    <ion-col>
      <ion-segment (ionChange)="filterByCategory($event)" [(ngModel)]="selectedSegment">
        <ion-segment-button value="all">
          <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="song">
          <ion-label>Louvores</ion-label>
        </ion-segment-button>
        <ion-segment-button value="anthem">
          <ion-label>Hinos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-list style="margin-bottom:-0.5vh" no-padding *ngFor="let music of musics | filterName:filter; let i = index"
    [attr.data-index]="i">
    <ion-card no-padding style="background-color: #f4f5f8" (click)="selectMusic(music, i)" *ngIf="!music.hidden">
      <ion-card-header>
        <ion-card-subtitle>{{ music.artist }} </ion-card-subtitle>
        <ion-card-title style="text-transform: capitalize">{{ music.name }}</ion-card-title>
        <ion-item no-padding lines="none" color="light">
          <ion-badge *ngIf="(music.anthem === 'Sim')" slot="start" color="secondary">Hino</ion-badge>
          <ion-button class="button-over-card" *ngIf="!music.selected" color="primary" fill="outline" slot="end">Adicionar</ion-button>
          <ion-button class="button-over-card" *ngIf="music.selected" color="danger" fill="outline" slot="end">Remover</ion-button>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>