.button-over-card {
    width: 10vh;
    height: 3.5vh;
    font-size:1.8vh;
    border-radius:6px;
}

.theme-badge {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.item-native {
    background-color: transparent !important;
}

.item-theme-badge {
    margin-right: 1vw;
    margin-top: 1vh;
  }
  
  .theme-name {
    background-color: #f4f5f8;
    color: #000;
  }
  
  .music-artist {
    color: #666;
    font-size: 2vh;
    font-weight: 700;
    letter-spacing: .4px;
    text-transform: uppercase;
  }
  
  .music-name {
    color: #000;
    font-size: 3vh;
    margin-top: -1.8vh;
    font-weight: normal;
    letter-spacing: .4px;
  }