<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Culto</ion-title>
    <ion-buttons slot="primary" *ngIf="worshipForm.value.id">
      <ion-button (click)="presentAlertRemoveWorship()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="worshipForm">
    <ion-row padding>
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Data do Culto
          </ion-label>
          <ion-datetime style="margin-top:1vh" formControlName="date" display-format="DD/MM/YYYY" required></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Banda
          </ion-label>
          <ion-select placeholder="Selecione" formControlName="band" required>
            <ion-select-option value="Banda 1">Banda 1</ion-select-option>
            <ion-select-option value="Banda 2">Banda 2</ion-select-option>
            <ion-select-option value="Banda 3">Banda 3</ion-select-option>
            <ion-select-option value="Banda Mix">Banda Mix</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Turno
          </ion-label>
          <ion-select placeholder="Selecione" formControlName="shift" required>
            <ion-select-option value="Matutino">Matutino</ion-select-option>
            <ion-select-option value="Noturno">Noturno</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col>
        <ion-button color="secondary" (click)="addMusics()" expand="full">Repertório</ion-button>
      </ion-col>
    </ion-row>
    <ion-row padding style="margin-top:-4vh">
      <ion-col>
        <ion-button [disabled]="worshipForm.invalid" (click)="saveWorship()" expand="full">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>