<ion-header>
  <ion-toolbar>
    <ion-title>Cultos</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="filterWorship()">
        <ion-icon fill="outline" name="funnel"></ion-icon>
      </ion-button>
      <ion-button (click)="addWorship()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para baixo para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando cultos...">
    </ion-refresher-content>
  </ion-refresher>

  <br>

  <ion-list style="margin-bottom:-0.5vh" no-padding *ngFor="let worship of worships">
    <ion-card no-padding style="background-color: #f4f5f8" (click)="editWorship(worship)">
      <ion-card-header>
        <ion-card-subtitle>{{ worship.date | date:'dd/MM/y' }}</ion-card-subtitle>
        <ion-card-title style="text-transform: capitalize">{{ worship.band }}</ion-card-title>
        <ion-item no-padding lines="none" color="light">
          <ion-badge *ngIf="(worship.shift === 'Matutino')" slot="start" color="secondary">Matutino</ion-badge>
          <ion-badge *ngIf="(worship.shift === 'Noturno')" slot="start" color="tertiary">Noturno</ion-badge>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>