.worship-date {
    color: #666;
    font-size: 2vh;
    font-weight: 700;
    letter-spacing: .4px;
  }
  
.worship-band {
    color: #000;
    font-size: 3vh;
    margin-top: -1vh;
    font-weight: normal;
    letter-spacing: .4px;
  }