<ion-header>
  <ion-toolbar>
    <ion-title>Músicas</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addMusic()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Filtrar músicas/artistas" debounce="500" cancelButtonText="Cancelar" animated
    [(ngModel)]="filter.name"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para baixo para atualizar"
      refreshingSpinner="circles" refreshingText="Atualizando músicas...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>

  <ion-row style="margin-left:1vh;margin-right:1vh">
    <ion-col>
      <ion-segment (ionChange)="filterByCategory($event)" [(ngModel)]="selectedSegment">
        <ion-segment-button value="all">
          <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="song">
          <ion-label>Louvores</ion-label>
        </ion-segment-button>
        <ion-segment-button value="anthem">
          <ion-label>Hinos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-list style="margin-bottom:-0.5vh" no-padding *ngFor="let music of musics | filterNameDefault:filter">
    <ion-card no-padding style="background-color: #f4f5f8" (click)="showOptions(music)">
      <ion-card-header>
        <ion-card-subtitle>{{ music.artist }} </ion-card-subtitle>
        <ion-card-title style="text-transform: capitalize">{{ music.name }}</ion-card-title>
        <ion-item *ngIf="(music.anthem === 'Sim')" no-padding lines="none" color="light">
          <ion-badge slot="start" color="tertiary">Hino</ion-badge>
        </ion-item>
        <ion-item text-wrap *ngIf="music.theme" no-padding lines="none" color="light">
          <div class="container-theme-badge">
            <ion-badge class="item-theme-badge" *ngFor="let item of music.theme" slot="start" color="secondary">{{ item }}</ion-badge>
          </div>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>