<ion-header>
  <ion-toolbar>
    <ion-title>Músicas</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addMusic()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Filtrar músicas/artistas" debounce="500" cancelButtonText="Cancelar" animated
    [(ngModel)]="filter.name"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para baixo para atualizar"
      refreshingSpinner="circles" refreshingText="Atualizando músicas...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>

  <ion-row style="margin-left:1vh;margin-right:1vh">
    <ion-col>
      <ion-segment (ionChange)="filterData()" [(ngModel)]="selectedSegment">
        <ion-segment-button value="all">
          <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="song">
          <ion-label>Louvores</ion-label>
        </ion-segment-button>
        <ion-segment-button value="anthem">
          <ion-label>Hinos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left:-1vh;margin-right:0.5vh">
    <ion-col>
      <ion-select placeholder="Filtrar por temas" [(ngModel)]="selectedTheme" (ionChange)="filterData()">
        <ion-select-option value="all">Filtrar todos os temas</ion-select-option>
        <ion-select-option value="Advento">Advento</ion-select-option>
        <ion-select-option value="Amor fraternal">Amor fraternal</ion-select-option>
        <ion-select-option value="Ano Novo">Ano Novo</ion-select-option>
        <ion-select-option value="Apelo">Apelo</ion-select-option>
        <ion-select-option value="Arrependimento">Arrependimento</ion-select-option>
        <ion-select-option value="Ascensão">Ascensão</ion-select-option>
        <ion-select-option value="Batismo">Batismo</ion-select-option>
        <ion-select-option value="Casamento">Casamento</ion-select-option>
        <ion-select-option value="Confiança">Confiança</ion-select-option>
        <ion-select-option value="Consagração">Consagração</ion-select-option>
        <ion-select-option value="Consolação">Consolação</ion-select-option>
        <ion-select-option value="Conversão">Conversão</ion-select-option>
        <ion-select-option value="Culto e Adoração">Culto e Adoração</ion-select-option>
        <ion-select-option value="Dedicação de Templo">Dedicação de Templo</ion-select-option>
        <ion-select-option value="Despedida">Despedida</ion-select-option>
        <ion-select-option value="Entrada Triunfal">Entrada Triunfal</ion-select-option>
        <ion-select-option value="Epifania">Epifania</ion-select-option>
        <ion-select-option value="Escola Dominical">Escola Dominical</ion-select-option>
        <ion-select-option value="Esperança">Esperança</ion-select-option>
        <ion-select-option value="Evangelização">Evangelização</ion-select-option>
        <ion-select-option value="Família">Família</ion-select-option>
        <ion-select-option value="Fim do Culto">Fim do Culto</ion-select-option>
        <ion-select-option value="Louvor">Louvor</ion-select-option>
        <ion-select-option value="Natal">Natal</ion-select-option>
        <ion-select-option value="Oração">Oração</ion-select-option>
        <ion-select-option value="Oração Vespertina">Oração Vespertina</ion-select-option>
        <ion-select-option value="Palavra de Deus">Palavra de Deus</ion-select-option>
        <ion-select-option value="Pentecostes">Pentecostes</ion-select-option>
        <ion-select-option value="Perdão">Perdão</ion-select-option>
        <ion-select-option value="Perseverança">Perseverança</ion-select-option>
        <ion-select-option value="Pátria">Pátria</ion-select-option>
        <ion-select-option value="Reforma">Reforma</ion-select-option>
        <ion-select-option value="Regozijo">Regozijo</ion-select-option>
        <ion-select-option value="Reino de Deus">Reino de Deus</ion-select-option>
        <ion-select-option value="Ressurreição">Ressurreição</ion-select-option>
        <ion-select-option value="Santa Ceia">Santa Ceia</ion-select-option>
        <ion-select-option value="Santificação">Santificação</ion-select-option>
        <ion-select-option value="Segunda Vinda">Segunda Vinda</ion-select-option>
        <ion-select-option value="Serviços Fúnebres">Serviços Fúnebres</ion-select-option>
        <ion-select-option value="Trindade">Trindade</ion-select-option>
        <ion-select-option value="Vocação Pastoral">Vocação Pastoral</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <div style="margin-top:1vh">
    <ion-item-group *ngFor="let theme of themes">
      <ion-item-divider *ngIf="theme.musics.length" class="theme-name">
        <ion-label><b>{{ theme.name }}</b></ion-label>
      </ion-item-divider>

      <ion-grid (click)="showOptions(music)" no-padding *ngFor="let music of theme.musics | filterNameDefault:filter">
        <ion-item no-padding lines="none" class="music-artist">
          <ion-row no-padding>
            <ion-col>
              <ion-label style="margin-left: 2vh">{{ music.artist }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item no-padding class="music-name">
          <ion-row no-padding>
            <ion-col>
              <ion-label style="margin-left: 2vh">{{ music.name }}</ion-label>
            </ion-col>
          </ion-row>
          <ion-note slot="end" style="margin-top:0.5vh">
            <ion-badge *ngIf="(music.anthem === 'Sim')" color="tertiary">Hino</ion-badge>
          </ion-note>
        </ion-item>
      </ion-grid>
    </ion-item-group>
  </div>
</ion-content>