<ion-header>
  <ion-toolbar>
    <ion-title>Músicas</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="addMusic()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="500" showCancelButton cancelButtonText="Cancelar" animated [(ngModel)]="filter.name"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para baixo para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando músicas...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list style="padding-left:0.4rem;padding-right:2rem" *ngFor="let music of musics | filterName:filter">
    <ion-item>
      <ion-label>{{ music.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>