.music-artist {
    color: #666;
    font-size: 2vh;
    font-weight: 700;
    letter-spacing: .4px;
    text-transform: uppercase;
}

.music-name {
    color: #000;
    font-size: 3vh;
    margin-top: -1.8vh;
    font-weight: normal;
    letter-spacing: .4px;
}

.music-name-label {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width:94%;
  }