<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Música</ion-title>
    <ion-buttons slot="primary" *ngIf="musicForm.value.id">
      <ion-button (click)="presentAlertRemoveMusic()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="musicForm">
    <ion-row padding>
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Artista/Banda
          </ion-label>
          <ion-input formControlName="artist" required placeholder="Digite o nome do artista/banda"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Nome da música
          </ion-label>
          <ion-input formControlName="name" required placeholder="Digite o nome da música"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Hino
          </ion-label>
          <ion-select placeholder="Selecione" formControlName="anthem" required>
            <ion-select-option value="Sim">Sim</ion-select-option>
            <ion-select-option value="Não">Não</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col>
        <ion-button [disabled]="musicForm.invalid" (click)="saveMusic()" expand="full">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>