<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Música</ion-title>
    <ion-buttons slot="primary" *ngIf="musicForm.value.id && isEdit">
      <ion-button (click)="presentAlertRemoveMusic()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="musicForm">
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Artista/Banda
          </ion-label>
          <ion-input formControlName="artist" required placeholder="Digite o nome do artista/banda"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Nome da música
          </ion-label>
          <ion-input formControlName="name" required placeholder="Digite o nome da música"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Início da música
          </ion-label>
          <ion-input formControlName="beginMusic" required placeholder="Digite o início da música"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Youtube
          </ion-label>
          <ion-input formControlName="link" placeholder="Informe o link do Youtube"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Spotify
          </ion-label>
          <ion-input formControlName="linkSpotify" placeholder="Informe o link do Spotify"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Deezer
          </ion-label>
          <ion-input formControlName="linkDeezer" placeholder="Informe o link do Deezer"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            É um Hino?
          </ion-label>
          <ion-select placeholder="Selecione" formControlName="anthem" required>
            <ion-select-option value="Sim">Sim</ion-select-option>
            <ion-select-option value="Não">Não</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Tom
          </ion-label>
          <ion-select placeholder="Selecione" formControlName="tone" required>
            <ion-select-option value="A">A</ion-select-option>
            <ion-select-option value="Am">Am</ion-select-option>
            <ion-select-option value="Bb">Bb</ion-select-option>
            <ion-select-option value="B">B</ion-select-option>
            <ion-select-option value="Bm">Bm</ion-select-option>
            <ion-select-option value="C">C</ion-select-option>
            <ion-select-option value="Cm">Cm</ion-select-option>
            <ion-select-option value="Db">Db</ion-select-option>
            <ion-select-option value="D">D</ion-select-option>
            <ion-select-option value="Dm">Dm</ion-select-option>
            <ion-select-option value="Eb">Eb</ion-select-option>
            <ion-select-option value="E">E</ion-select-option>
            <ion-select-option value="Em">Em</ion-select-option>
            <ion-select-option value="F">F</ion-select-option>
            <ion-select-option value="Fm">Fm</ion-select-option>
            <ion-select-option value="F#">F#</ion-select-option>
            <ion-select-option value="G">G</ion-select-option>
            <ion-select-option value="Gm">Gm</ion-select-option>
            <ion-select-option value="Ab">Ab</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Link da Cifra
          </ion-label>
          <ion-input formControlName="sheetMusic" placeholder="Digite o link da cifra"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Tema da Música/Hino
          </ion-label>
          <ion-select multiple="true" placeholder="Selecione" formControlName="theme" required>
            <ion-select-option *ngFor="let theme of themes" value="{{ theme }}">{{ theme }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-bottom: 0">
      <ion-col style="margin-left:-1vh">
        <ion-item>
          <ion-label position="stacked" color="primary">
            Referência bíblica
          </ion-label>
          <ion-input formControlName="reference" placeholder="Informe a referência bíblica"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding *ngIf="isEdit">
      <ion-col>
        <ion-button [disabled]="musicForm.invalid" (click)="saveMusic()" expand="full">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>